thirdparty/windows
thirdparty/linux
thirdparty/licenses/LICENSE.*.txt
build
build-win
_CPack_Packages
yt-dlp-beets*.AppImage
yt-dlp-beets*.exe
.vscode/settings.json
resources/yt-dlp-gui.pyw
test-libs
